# API Configuration
# Production Backend URL - Update this with your deployed backend URL
#EXPO_PUBLIC_API_URL=https://api.yourdomain.com/api/v1

# For local development, use your local IP address:
EXPO_PUBLIC_API_URL=http://192.168.1.3:3005/api/v1

# Stripe Configuration
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51T1Bh0JzjhyDhVhmYIpBbmMhUE13QrTe5JuDdHnQyxiNFKRc8Zq7jTpQsnO7sfpQjhyyerkdlUlZXhdwLNx06PRs00nSVssbOs
